.list {
  list-style: none;
}

.item {
  padding: 30px 0;
  border-bottom: 1px solid var(--border-gray);
  font-size: 1.4rem;
}

.header {
  display: flex;
  align-items: center;
}

.link {
  font-size: 2rem;
  color: var(--blue-color);
  max-width: 60%;
  line-height: 2.5rem;
  text-decoration: none;
  font-weight: 700;
  margin-right: 15px;
  word-wrap: break-word;
}

.visibility {
  border-radius: 15px;
  border: 1px solid var(--border-gray);
  padding: 6px 8px;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.description,
.visibility,
.footer {
  color: var(--gray-light-color);
}

.description {
  margin: 10px 0 15px;
  max-width: 60%;
  line-height: 2.4rem;
}

.footer {
  display: flex;
}

.footer span {
  margin-right: 15px;
}
